@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

* {
    font-family: "Alegreya", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 242, 245);
}

.container {
    width: 500px;
    height: auto;
    margin: 200px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
}

.title {
    padding: 20px;
}

.password {
    width: 60%;
    margin: auto;
    display: block;
    margin: 15px auto;
    padding: 10px;
    border: 1px black solid;
    border-radius: 7px;
}

.password:focus {
    outline: none;
    background-color: rgba(240, 239, 240, 1);
}

.button {
    min-width: 100px;
    height: 40px;
    font-size: 13px;
    margin-top: 10px;
    background-color: rgb(77, 166, 255);
    border-radius: 7px;
    border: none;
    color: black;
    box-sizing: content-box;
    cursor: pointer;
    transition: all 0.5s;
}

.button:hover {
    background-color: blue;
}

.login-registration {
    box-sizing: content-box;
    min-width: 100px;
    padding: 10px 20px;
    text-decoration: none;
    color: darkgray;
    margin-left: 350px;
    transition: all 0.5s;
}

.login-registration:hover {
    color: black;
    text-decoration: underline;
}

.message {
    max-width: 60%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(255, 179, 179);
    border: 1px red solid;
    border-radius: 5pc;
}
